# Python 
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.pytest_cache/
.coverage
.coverage.*
.pyup.yml
.isort.cfg
noxfile.py
# requirements*.txt  <-- Comentado por si decides usar la versión de PIP

# Virtual Environment 
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/
# Archivos de uv
.uv/

# Django 
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
.env
.env.*
!.env.example

# IDE / OS
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Git 
.git/
.gitignore

# Node (Importante para Tailwind)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker 
.dockerignore
# Dockerfile* <-- Si usas varios Dockerfiles (uv y pip), es mejor NO ignorarlos 
# para que Docker pueda encontrarlos si están dentro de subcarpetas.

# Documentation & Backups
*.md
docs/
*.bak
*.old
*.orig
*~